

.main{
  background-image: url('img/linky.png');
  background: url('img/link-main.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
.mark{
  background: rgba(242, 238, 238, 0.133)
}
@media only screen and (max-width: 967px) {
    /* Your desktop-specific CSS styles go here */
   
    /* Additional styles... */
    h1.react-typewriter-text-wrap{
     text-align: center;
    }
  }
@tailwind base;
@tailwind components;
@tailwind utilities;