

.main{
  background-image: url('img/linky.png');
  background: url('img/link-main.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
.mark{
  background: rgba(242, 238, 238, 0.133)
}
.nav{
  box-shadow: 0.5px 3px 2px rgb(46, 46, 46)
  }
  
  
@media only screen and (max-width: 967px) {
    h1.react-typewriter-text-wrap{
     text-align: center;
    }
  }
@tailwind base;
@tailwind components;
@tailwind utilities;